h1 {
  margin: 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 120.52%;
  color: #1f2432;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 120.52%;
  color: #1f2432;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  color: #1f2432;
}

p {
  margin: 0;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

ul {
  padding: 0;
  color: #1f2432;
  list-style: none;
}
